{% extends 'base.html.twig' %}
{% block body %}
<form method="post" action="">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Verzenden</button>
     <a class="btn btn-danger" href="http://localhost/vms/web/app_dev.php/goederen/bestellingen">Annuleren</a>
</form>
{% endblock %}
