{% extends 'base.html.twig' %}

{% block body %}
<a class="btn btn-default" href="http://localhost/vms/web/app_dev.php/zoek/magazijnlocatie">Terug</a>
<hr>
<h2 class="page-header">{{artikel.naam}}</h2>
<ul class="list-group">
<li class="list-group-item">Magazijnlocatie: {{artikel.locatie}}</li>
</ul>
<p>
</p>
{% endblock %}
