{% extends 'base.html.twig' %}
{% block body %}
 <h2 class="page-header">Nieuw Artikel</h2>
 <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ path('_search') }}">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name ="search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default"></button>
          </span>
        </div>
      </form>
{% endblock %}
