{# dit twig helpt mee met het wijzigen van een artikel #}
{% extends 'base.html.twig' %}
{% block body %}
<form method="post" action="">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Verzenden</button>
     <a class="btn btn-danger" href="javascript:history.back()">Annuleren</a>
</form>

{% endblock %}
