{% extends 'base.html.twig' %}

{% block body %}

<h2 class="page-header">Voorraad Management Systeem Lunenburg</h2>
<table class="table table-striped">

<p>Artikel met artikelnummer <font size="3" color="red">1010101010</font> is onder de minimum voorraad.</p>

</tbody>
</table>
{% if not is_granted('ROLE_MAGAZIJNMEESTER') %}
{% elseif is_granted('ROLE_ADMIN') %}
<td><a class="btn btn-danger" href="{{ path('minimumvoorraadartikelen') }}">Minimum Voorraad</a></td>
{% else %}
{% endif %}


{% endblock %}
