{% extends 'base.html.twig' %}

{% block body %}


<br>
<h2 class="page-header">Homepage</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Voorraad</th>
</tr>
</thead>
<tbody>
<tr>
<td><a class="btn btn-success" href="{{ path('artikel_lijst') }}">Lijst van artikelen</a></td>
</tr>
<tr>
<td><a class="btn btn-success" href="{{ path('artikel_nieuw') }}">Nieuw artikel toevoegen</a></td>
</tr>
</tbody>

<img src="VoorpaginaAfbeelding.gif" ; STYLE="padding-bottom:50px; padding-top:5px ;padding-left:5px;">

</table>
{% endblock %}
