{% extends "base.html.twig" : "artikel/index.html.twig" %}

{% block body %}


<br>
<h2 class="page-header">Voorraad Management Systeem Lunenburg</h2>
<table class="table table-striped">
<thead>
</br>
<p><b>31-05-2017 </b>Het systeem heeft een pagina minimumvoorraad erbij gekregen.</p></br>
<p><b>30-05-2017 </b>Gebruikers zijn aangemaakt en hebben rechten toegekregen.</p>
</thead>
</table>
<td><a class="btn btn-danger" href="{{ path('minimumvoorraadartikelen') }}">Minimum Voorraad</a></td>
{% endblock %}
