{% extends 'base.html.twig' %}

{% block body %}
<div>

<form>
</form>
</div>


<br>
<h2 class="page-header">Home</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Artikelen</th>
</tr>
</thead>
<tbody>
<tr>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}